[2021-02-10 20:36] danomatika opened #1 "ThreadedModel async loading"
The ofxTF2::ThreadedModel inherits the `load()` function from ofxTF2::Model which is a simple, blocking load. On slower systems, this can be relatively expensive as it will generally happen on the main thread.

We could look into adding asynchronous model loading on the background thread, possibly by an additional `loadAsync()` function.

[2021-02-10 20:39] danomatika opened #2 "Verify setup & build on Windows"
This addon was initially developed on Linux and macOS, but has not been tested on Windows. The layout, scripting, and project support files are set up, more or less, but we haven't been able to verify yet.

If you are a Windows developer, please let us know if this addon is working as expected in:

* [ ] Visual Studio, 64-bit
* [ ] Msys2, 64-bit

[2021-02-11 09:30] danomatika opened #3 "macOS arm64 support"
Add support for optimized libtensorflow builds for:

* [x] macOS arm64 (M1)
* ~~iOS (TensorFlow Light)~~ possibly leave for later

References:

* [Accelerating TensorFlow Performance on Mac](https://blog.tensorflow.org/2020/11/accelerating-tensorflow-performance-on-mac.html)
* [Apple macOS Tensorflow Github repo](https://github.com/apple/tensorflow_macos)
* [TensorFlow iOS quickstart](https://www.

[2021-02-13 16:23] paul-ferragut commented on #2
I didn't manage to compile the examples with Visual Studio 64bits
First I was missing files from https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-cpu-windows-x86_64-2.4.0.zip ; tensorflow/c/c_api_macros.h, tensorflow/c/tf_tstring.h, tensorflow/core/platform/ctstring.h, tensorflow/core/platform/ctstring_internal.h
After adding those files, I get errors in cppflow/model.h "op_id

[2021-02-13 16:28] danomatika commented on #2
Did you install libtensorflow with the download script? If not, the required layout is basically:

[code]

with the libraries in `lib` going into:

[code]

As for `sys/errno.h`, yes comment that put and also comment the setLogLevel stuff in `ofxTensorFlow2Utils.h` & `ofxTensorFlow2Utils.cpp`.

[2021-02-13 16:29] danomatika commented on #2
Also, can you confirm the cppflow sources are in `libs/cppflow`? If the folder is empty, you need to init and update the submodule.

[2021-02-13 21:32] paul-ferragut commented on #2
- I tried to use the download scripts but it wasn't working, I don't know if it something wrong with my configuration. So I have added the files missing manually with the layout. Now the errors in cppflow/model.h "op_idx", "op_name" undeclared identifier disappeared :)

- sys/errno.h commented out worked without other complications

- I had an issue with

[code]
changed it to: `int setenv(const ch

[2021-02-13 21:45] danomatika commented on #2
They require a Unix shell, so they would work in Msys as long as curl and unzip are installed. I'm not sure, but maybe they would work in Powershell?

If you have any time later, send any script errors our way too. :)

That looks like some sort of issue with cppflow templating. Since cppflow is built into the project, then it's most likely something that was declared in one of the ofxTensorFlow2 `

[2021-02-13 21:56] danomatika commented on #2
The `sys/errno.h` and `setenv` errors should be fixed in the latest commit.

[2021-02-13 23:05] paul-ferragut commented on #2
the error with the script is
"tar.exe: Error opening archive: Unrecognized archive format"
if changed .tar.gz to .zip in the sh script it downloads but with a few missing files

I tried to start over and get cppflow using git submodule update --init --recursive
getting again errors undeclared identifiers  'op_name', 'op_idx' in model.h

[2021-02-14 00:58] danomatika commented on #2
Ah ok, that makes sense. They give the Windows download as a zip as most users wouldn't have tar available by default.

Hrmmm strange. As you noted, the Windows zips have fewer headers. Maybe they are not up to date? @bytosaur what do you think?

[code]

[2021-02-14 01:42] danomatika commented on #2
Latest commit has fix for script zip file handling.

Also, I noticed that the Nightly Builds mentioned on the [TF C download page](https://www.tensorflow.org/install/lang_c#download) don't have Windows builds.

[2021-02-14 11:59] paul-ferragut commented on #2
The tensor flow download script is working now.
Currently I tried to copy the missing  headers from the linux tensorflow library and commented out this part in model.h
[code]
I am not sure what this part of code is doing?

The examples compiled until the end but throwing an exception on launch 'tensorflow.pdb not loaded"
In the console:

[2021-02-15 16:19] danomatika commented on #2
I think that's an optional file used for debugging, judging from [this](This time the example compiled until the end but throwing an exception on launch 'tensorflow.pdb not loaded"). I imagine libtensorflow is built for release and doesn't include this.

[2021-02-16 16:57] paul-ferragut commented on #2
https://github.com/tensorflow/tensorflow/issues/46538 hopefully this should be fixed soon

[2021-02-19 14:11] stephanschulz opened #4 "How to use other existing model ?"
Thank you so so much for making this.
It hopefully removes the need for use JS to run a lot of the models and send their info to OF over OSC. As the awesome [Lingdong](https://github.com/LingDong-) had done here: https://github.com/LingDong-/PoseOSC

Do you have advice on how to make other models like PoseNet or the [mediapipe handpose from tensorflow.js](https://github.com/tensorflow/tfjs-models/

[2021-02-19 14:54] bytosaur commented on #4
hey stephanschulz,

happy to hear that you enjoy it :)
A key feature of this addon is that it eases the inference of any TensorFlow 2 SavedModel. Such a model may be:
- incluced in the repository your are aiming at
- created from a weight file and the code to contstruct the model
  - for .h5 files: see keyword spotting example
  - for check-points: see style transfer example
- saved after/during r

[2021-02-19 15:02] stephanschulz commented on #4
@bytosaur thanks for the reply.

i realize people certainly have different levels of working with TensorFlow; people that can and want to train their own models and beginners like me that just want to run existing model.
If i understand you correctly, if i want to use the handpose model i saw in the JS example i need to first find a TensorFlow2 implementations of it?
I will keep at it and try to l

[2021-02-19 15:48] bytosaur commented on #4
this might be what you are looking for https://github.com/MikeOfZen/Yet-Another-Openpose-Implementation
it s a TF2 implementation with pretrained models.

looking forward to see what you can do with it! Let us know as we can not have too less examples here :)

[2021-02-19 16:12] stephanschulz opened #5 "example_keyword_spotting compile error on macOS"
I am on macOS 10.15.7 with OF 0.11.0 and Xcode 12.4
I successfully compiled and ran all provided examples except `example_keyword_spotting`
Not sure why or how to fix it.
I don't have an immediate need for it but thought you might like to know.

`/Applications/of_v0.11.0_osx_release/addons/ofxTensorFlow2/src/ofxTensorFlow2Utils.h:119:14: Non-constant-expression cannot be narrowed from type 'size_t

[2021-02-19 16:24] stephanschulz commented on #4
Thanks for finding this.
It does indeed have the `saved_model.pd` and `variables` files. https://github.com/MikeOfZen/Yet-Another-Openpose-Implementation/tree/master/trained_models/model11_test-15Sun1219-2101

Now i just have to figure out how to send me images / video stream to the model.
Maybe the pix2pix example is a good start since it uses `input = ofxTF2::imageToTensor(imgIn);` and `ofxTF2::

[2021-02-19 17:13] bytosaur commented on #4
make sure to check out the READMEs in the examples. Especially _example_basics_ gives a good overview of how to use this addon.
Afterwards, check both _example_pix2pix_ and _example_style_transfer_ as they are dealing with image input. It's also a good way to learn how to use the ThreadedModel. Altough for test purposes it is not required.

Are you sure this model outputs an image? i would expect

[2021-02-19 17:18] stephanschulz commented on #4
You are right it does not output an image but a long vector with about 139000 entries.

The repo you found has a `Skeletonizer` class which seems take the model output and converts it to the skeleton points, i guess ?
[code]

I believe the next step would be to translate this `Skeletonizer` to c++.
https://github.com/MikeOfZen/Yet-Another-Openpose-Implementation/blob/dbbb558bc95b15dfa3976514dad2c7

[2021-02-19 17:37] bytosaur commented on #4
Yes, pre and postprocessing are important steps to tackle. Overriding the `runModel()` function of a `ofxTF2::Model` is the recommended way to insert these steps.

For some codes, even operations that are not-related to AI are embedded into the SavedModel. The authors of the pyhton code for _example_keyword_spotting_ use `kapre`. It's a pyhton package that formulates the computation of e.g spectro

[2021-02-19 17:41] stephanschulz commented on #4
thanks again.
this is a lot of new information for my brain. i will see if i can make sense of it all.

[2021-02-19 17:45] bytosaur commented on #5
sorry for late response... i am pretty sure that cast should not be `(size_t)` but `(shape_t)`. Could you please validate it for me?

[2021-02-19 17:49] bytosaur commented on #4
happy to help :)

btw, i also found these implementations:
https://github.com/tensorlayer/hyperpose
https://github.com/michalfaber/tensorflow_Realtime_Multi-Person_Pose_Estimation

[2021-02-19 18:12] danomatika commented on #5
@bytosaur If that works, we should probably put out a 1.0.1 bug fix release and include a changeling. I will add one soon.

[2021-02-19 19:14] stephanschulz commented on #5
yes that changed worked.
[code]

[2021-02-19 19:19] stephanschulz commented on #4
i will check them out. maybe they are easier to extract keypoints from.
i should mention that i am actually looking for handpose not bodypose detection ;)

[2021-02-19 19:39] #5 closed

[2021-02-19 19:51] danomatika commented on #5
This is now fixed and there is a new version tag: 1.0.1

[2021-02-25 12:45] #4 closed

[2021-02-25 13:45] stephanschulz commented on #4
Thanks again for providing this information.
As of now i have not managed to make this work. Will keep on trying !
But if you happen to have time to add handpose and bodypose examples i am sure me and other people would be very happy ;)
All the best.

[2021-05-17 17:03] bytosaur commented on #1
added in [1.1.0](https://github.com/zkmkarlsruhe/ofxTensorFlow2/releases/tag/1.1.0)

[2021-05-17 17:03] #1 closed

[2021-06-03 11:08] natxopedreira opened #6 "question, tf version"
Hello

Thanks for that addon, i want to move some python code i had to c++ in oF but i need to get a new machine.
Seems like now is very hard to find a 2080 so i must go for 3080 but this last one seems to work only with cuda 11 and tf > 2.4

Have you tested this addon with that config?

Thank you!!

[2021-06-03 12:05] danomatika commented on #6
The current version of TF is 2.4. We will updated to 2.5 soon.

Personally, I cannot say much about configurations but if it runs TF2, then it should work with this add-on as the addon-on is simply a wrapper.

[2021-06-03 12:08] danomatika commented on #6
Also, you can try TF 2.5 yourself. Edit the version number in `scripts/download_tensorflow.sh` and re-run the script to download. You may need to clean and/or regenerate your project files.

[2021-06-03 12:17] natxopedreira commented on #6
If i finally get a 3000 series will do and post results

Im worried about move to 3000 series because tf repo has several issues related, seems like a problem with versions tf+cuda+cudnn, so thats why im asking if you had experience on those cards/config.

Thank you!!!

[2021-06-03 12:17] #6 closed

[2021-06-03 17:36] danomatika commented on #6
I would keep an eye on what they say there. We have a couple MK dev machines, but I don't know the specs and @bytosaur icon vacation. He may respond to this in a week or so.

[2021-06-04 10:26] natxopedreira commented on #6
Thank you!!!!

[2021-06-04 20:31] danomatika commented on #3
I tried out both 2.4.1 and 2.5.0 x86_64 libtensorflow builds in OF 0.11.2 on an M1 MBP 13 (arm64) and the examples build, but crash when running in Rosetta2.

[2021-07-01 08:58] bytosaur commented on #6
Hey @natxopedreira ,
sorry for the late response! In my current ofxTensorFlow2 setup I am using a 2070 Super with TF 2.5, Cuda 11.2 and the 460 driver.
I can't guarantee that it will work with 3000er but I am super optimistic!

[2021-07-01 11:25] natxopedreira commented on #6
thanks for the update!!

:) im also optimistic, but.... i will try to find a 2080 ti as seems more reliable for now as i need a stable setup and can not wait too much to fix issues.

[2021-07-09 10:03] natxopedreira opened #7 "converting models"
Hello

Im trying to convert some neural style models im using on python. I have those model in checkpoints

If i understand correctly (sure is not the case) i need to run the checkpoint2SavedModel.py to set the input layer size to expected size and get the model in savedModel format

Problem is that i get a very extrange result and sure you have more experience than me on those so maybe you can gi

[2021-07-16 10:00] natxopedreira commented on #7
i think is because the models was created on tf1 and moving to tf2 format must did something wrong in the conversion

[2021-07-16 10:00] #7 closed

[2021-07-16 10:01] natxopedreira opened #8 "training a model"
I trained a new model for neural style using the python files in your repo, that create a model is pb format instead of checkpoints as original repo.

But when i try to load the model in the of code i get a black screen and a msg on console
`[warning] ofxTensorFlow2: shape mismatch at dimension 0 for lhs [480, 640, 3] and rhs [640, 480, 3]`

I opened the model with Netron and i see a input called

[2021-07-16 10:54] danomatika commented on #8
I am personally no AI expert, but it looks like you have the sizes swapped:

`lhs [480, 640, 3]` -> `rhs [640, 480, 3]`

I would think the lhs should be `[640, 480, 3]`.

[2021-07-16 11:06] natxopedreira commented on #8
Thanks, yep you are right. I explained myself wrong

In teory you modify the training python script to produce the model in pb format and with the correct sizes, or thats what i understand per the readme. I trained a new model using that script.

Is not really a problem as im trying again with the original repo script, but i think the result i get was not what is expected

[2021-07-16 11:07] danomatika commented on #8
Ping @bytosaur

[2021-07-17 14:42] bytosaur commented on #8
Hey there!

I am currently on a leave but I can look deeper into it on Monday.

From the first look I think I may have mixed up the dimensions there. There is a checkpoint2savedmodel.py script that converts the original Checkpoints to savedModels and saves them as 480x640.
This should be the expected input shape for the example.

Thanks for checking it out! I ll change that ASAP

[2021-07-19 09:01] natxopedreira commented on #8
Is not really a problem and easy for someone to fix
[https://github.com/zkmkarlsruhe/ofxTensorFlow2/blob/b9c3845ba5843bd12dd4f7f4649ba401109455a9/example_style_transfer/python/train.py#L146](https://github.com/zkmkarlsruhe/ofxTensorFlow2/blob/b9c3845ba5843bd12dd4f7f4649ba401109455a9/example_style_transfer/python/train.py#L146)

Addon is great, and really easy to setup on linux, thank you.

[2021-08-18 12:26] #8 closed

[2021-08-30 12:00] natxopedreira opened #9 "how to interpret output"
Hello!!

Im playing with this to help me to understand how tensorflow c pi works.

I have a centernet model that has one input and 4 outputs

[code]
I load the model and set input and output names

[code]
Add one dimension to input to follow model requeriments
[code]

And now how i acces to the output data? I tried this but dont work, i expected that the return of runModel was a vector of vectors.

[2021-08-30 13:19] natxopedreira commented on #9
Ok i think i got it
[code]

And now to use it
[code]

But for example the bounding boxes is 2d level data, first one is box index and second one are the 4 coords, and tensorToVector flatterns it to 1D vector, so i think it has to be

[code]

But the boxes are not correctly positioned.... im doing this last step wrong?

Thanks

[2021-08-30 14:21] natxopedreira commented on #9
Seems like is
[code]

Curious that bounding boxes for the dogs are not exact the same as tf example
[https://tensorflow-object-detection-api-tutorial.readthedocs.io/en/latest/auto_examples/plot_object_detection_saved_model.html](https://tensorflow-object-detection-api-tutorial.readthedocs.io/en/latest/auto_examples/plot_object_detection_saved_model.html)

My ouput
<img src="https://i.ibb.co/WGfdXD

[2021-09-01 10:12] danomatika commented on #9
Ping @bytosaur

[2021-09-01 10:27] natxopedreira commented on #9
Just to note box difference was fixed replacing tensorflow lib, can also contribute providing a updated tf lib for linux to use with cuda 11.1 as i need to recompile it to use on my machine.

[2021-09-01 10:36] danomatika commented on #9
To which version?

[2021-09-01 10:44] natxopedreira commented on #9
tf 2.5.1
cuda 11.1

[2021-09-01 11:03] danomatika commented on #9
We have td 2.4.2 in the `develop` branch but I think the next release could use the latest 2.5.

[2021-09-01 11:10] bytosaur commented on #9
hey @natxopedreira!

Your workflow seems to be inline with our expertise and recommendations. Thanks for tying out and reading it so carefully :)
I dont know exactly why there were issues with the bounding boxes. Are you sure you handled the input as expected by the SavedModel? That is, correct data type, value range or preprocessing?

As for the TF version, I will look into using the latest CUDA

[2021-09-01 11:21] natxopedreira commented on #9
Hello

No problem at all, bounding boxes differences where fixed when replaced the lib.... i know....no much sense at all. In fact the second image of beach boxes where correct so not sure what happened here but is fixed.

I did a docker image to build the library so if need to build any version and want help, ping me!

[2021-09-01 11:21] #9 closed

[2021-09-01 11:26] bytosaur commented on #9
Cool! Do you have the Dockerfile somewhere on GitHub? This might be very cool for testing new TF or Cuda releases.
And yes PRs are very welcome for both examples or src contributions :)

[2021-09-01 12:03] natxopedreira commented on #9
Sorry i dont have a Dockerfile but i can publish the docker if you want to quay or similar.

I will try to add more examples and will do a PR

[2021-09-02 08:23] bytosaur commented on #9
I just updated the downlaodscript for libtensorflow to 2.6. I didnt encounter any problems using CUDA 11.4

[2021-09-02 08:45] natxopedreira commented on #9
Nice, thanks!

I will try to prepare some samples: object detection, face detection, something like posenet.... and make a pr.

I think that do a small one training your own model will be also useful for people, i know your examples are more "art" oriented and what i'm doing is more "tools" oriented so if those do not fit in your concept please let me know

[2021-09-02 09:16] bytosaur commented on #9
Human Pose Estimation would be a huge contribution! Unfortunately, I couldn't find a single model that does the job in a pleasing way.
I converted Mediapipe Models for landmarks and body or hand positions but there is a lot of math between the models which I didn't want to rewrite in C++.
For dealing with objects we could think about extending or changing the efficient net example.
I think it's go

[2021-09-02 09:28] natxopedreira commented on #9
I'm still on basics :) But i will help on what i can

`I think it's good to have some examples that show the basics like how to input an image or use multiple output `
imo object detection fit those, you input an image an deal multiple outputs, and you can find ready models on tf hub

What about this one for pose estimation?
[https://github.com/gsethi2409/tf-pose-estimation](https://github.com/gse

[2021-09-02 13:41] natxopedreira commented on #9
Movenet is working !!!

And seems to work fast/great

<img src="https://i.ibb.co/p0FsTWh/movenet.png" alt="movenet" border="0">

[2021-09-03 07:41] bytosaur commented on #9
Hey @natxopedreira!
Awesome! This model must be pretty new. I am glad you found it :)
I am looking forward to a PR.

[2021-09-03 08:58] natxopedreira commented on #9
@bytosaur model is from february i think, inference is ver fast, multiple users 40fps on cpu i7 and more than 60 on my 1060gpu. And i read somewhere in octuber tf will release next iteration of the model with a depth estimation

i have to clean the code, make a readme and will do the pr.

Model is very nice!

[2021-09-03 09:11] danomatika commented on #9
Also, don't commit the model to the repo. If you can send us the model as a zip, we can add it to the models share folder and the download script.

[2021-09-03 09:37] bytosaur commented on #9
No need to send it. I ll grab it from tf hub and upload it to our cloud storage :)
Yes a minimal solution will be best! Thanks for contributing

[2021-09-03 10:01] natxopedreira commented on #9
Ok, code is ready, only need to to readme.

I use a video from pexels so no copyright, is ok to upload?

[2021-09-03 10:58] natxopedreira commented on #9
@bytosaur @danomatika  Please take a look here [https://github.com/natxopedreira/ofxTensorFlow2/tree/main/example_Movenet](https://github.com/natxopedreira/ofxTensorFlow2/tree/main/example_Movenet) to see if is ok for you, i can also add the object detection sample if you want

[2021-09-03 11:14] bytosaur commented on #9
hey @natxopedreira,

Thanks for the upload!
I wont find time today to go over it thoroughly but I saw a few things that could be different:
- in our examples we try to do the important stuff directly in the ofApp.h and ofApp.cpp. Most of your code is in a separate class with the same function names. It's just for the sake of style consistency.
- I am not sure about uploading the mp4... @danomatika

[2021-09-03 11:22] natxopedreira commented on #9
- No problem, will move to ofApp,  is a personal taste i preffer to have it all in a class so i can move that class to any project, looks more clean to me but i understand your point
- will change makefile and remove vs-code workspace file

I will do that in another branch if you dont mind as i prefer to have a separated class.... just for my use

Dont understand what you want to say here :)
`is i

[2021-09-03 11:23] danomatika commented on #9
The MP4 is tiny, so not a problem. I would just make sure proper attribution for it is included in the readme.

[2021-09-03 11:31] danomatika commented on #9
Personally, I'm fine with the separate class. We already have subclasses of the Model anyway.

[2021-09-03 11:35] natxopedreira commented on #9
Just upload all changes except to move all back to main....

It just receive a ofPixels reference
movenet.update(video.getPixels());

[2021-09-03 11:36] danomatika commented on #9
Nice. As long as the design is easy for a beginner to follow, I don't think it's bad to have a simple class wrapper for some (complicated) examples.

[2021-09-03 11:39] danomatika commented on #9
@natxopedreira Can you rename the folder with lowercase? ie. `example_movenet`

[2021-09-03 11:40] natxopedreira commented on #9
Done

I tried to code it clean to easy understand and comment code, so people can take this as a reference and extend it adding a tracker... etc etc

[2021-09-03 11:43] danomatika commented on #9
I would also suggest adding your own attribution to the readme and as a header in the source files. At a minimum something like "Example by Natxopedreira 2021" with a URL etc. We will probably edit a bit here and there but the core of the contribution is yours. (Thanks by the way!)

[2021-09-03 11:54] natxopedreira commented on #9
Thanks :) I added a small footer with a comment a link to my github

Note im open to make changes if you want, not a problem.

I'm happy to contribute and i hope people will like this one!!!!

[2021-09-06 20:54] danomatika commented on #9
As a follow up, we refactored and threaded the ofxMovenet class: https://github.com/zkmkarlsruhe/ofxTensorFlow2/blob/develop/example_movenet/src/ofxMovenet.h

[2021-09-07 08:31] natxopedreira commented on #9
Thanks for let me know

Now looks better, with comments on each method.... and the thread

[2021-09-07 10:11] danomatika commented on #9
I only tested on my macOS system with TF CPU only. Please test on your set up and let me know if toggling the threading with the t key works and if there is no major loss in FPS. On this Intel Macbook Pro 16 inch, the non-threaded processing slows the app down to about 10 fps. If I turn threading on, the app runs at 60 but the tracking lags a bit as it's still slow in the background thread. IN any

[2021-09-07 10:17] natxopedreira commented on #9
i will test and let you know, give me some hours. Note that here "old version" i get 40fps on CPU i7... 10fps sounds really low

[2021-09-07 10:18] danomatika commented on #9
Laptop CPU :P

[2021-09-07 10:33] natxopedreira commented on #9
no lag here on CPU and solid 60fps, need more tests? im going to start training so computer will be used but can wait to test anything

[2021-09-07 10:34] danomatika commented on #9
No, sounds good. I just wanted to be sure I didn't break anything.

[2021-09-07 10:40] natxopedreira commented on #9
Oook!

If you have more ideas about other doing others examples, please let me know, those are good exercises to learn tf

[2021-09-13 13:43] natxopedreira opened #12 "[Suggestion] add support to use frozen graph"
Hello!!

What do you think to add support to use frozen graph? That way you can use a pb created in tf1, so is more compatible.... i'm doing that and works ok. Old cppflow had that option

[2021-09-13 15:37] danomatika commented on #12
If the support exists in cppflow2, you could try it now since the add-on just wraps cppflow classes.

--------
Dan Wilcox
@danomatika <http://twitter.com/danomatika>
danomatika.com <http://danomatika.com/>
robotcowboy.com <http://robotcowboy.com/>

[2021-09-13 15:46] natxopedreira commented on #12
Sorry i don't expressed myself ok.

That feature was not on ccpflow2 but was on cppflow1, i added a pair of methods to cppflow2 and one to ofxTF2Model and now i can use a tf1 frozen graph with your addon.

So i just asking if you can consider to add that feature as it makes more "open" as you are not restricted to savedmodel format.

Its only a suggestion

[2021-09-13 16:12] danomatika commented on #12
Sounds good to me. Supporting some of the previous models can only be good, especially for existing projects which used ofxTensorFlow (1).

Ping @byteosaur

enohp ym morf tnes
-----------
Dan Wilcox
danomatika.com
robotcowboy.com

[2021-09-13 16:22] natxopedreira commented on #12
exactly, in fact i see there is a pending pr to cppflow that also do that

[2021-09-13 19:22] bytosaur commented on #12
Hey @natxopedreira,
That is in fact a very cool feature and we ll happily review and accept a PR :)

[2021-09-14 08:29] natxopedreira commented on #12
Great! Will prepare it and upload to my fork

[2021-09-15 10:53] natxopedreira commented on #12
I have a question about the preffered style to use.

I need to add a second constructor to cppflow model class to have one constructor to use with frozen and another to savedmodel so both will have the url string as parameter, right now as im in a hurry i added a dummy second parameter to the constructor of frozen and done, but i want to do it ok to send the pr.

I can for example on the "frozen"

[2021-09-15 11:18] danomatika commented on #12
Can you add pseudo code here via Markdown?

[2021-09-15 11:25] natxopedreira commented on #12
Sure, here is what im using, you can see the ugly hack of adding the dummy second parameter to model constructor

model.h
[code]

ofxTF2Model.h
[code]

[2021-09-15 11:38] bytosaur commented on #12
First of all thanks for your contribution!

If it's a cppflow thing than I think we need to wait for the original PR to happen. I think they did a really good job and maybe they have their reasons...

in the meantime we could create a branch that pulls from the fork where the PR comes from and merge your edits to the Model class.

[2021-09-15 12:00] natxopedreira commented on #12
super!!!! but @bytosaur  that take a look at the code in pr first.

1) There is code that is not need as is taken directly from the actual constructor and not related in this case.

2) They take code from ccpflow 1 and  seting the config_options for session no longer works that way, it will no crash but those will not work, i for example spend hours trying to enable gpu percentage ussage as those

[2021-09-15 12:13] bytosaur commented on #12
Right, it reminded me of the code for the GPU settings which is not related to the model. I dont think it should belong there even if it works.

so, yeah it s probably best to fork cppflow and edit it on our own.

[2021-09-15 12:22] natxopedreira commented on #12
no it dont work, you dont get any error but no longer works....

[2021-09-15 23:47] bytosaur commented on #12
hey @natxopedreira,

I have forked and modified the model class of cppflow [here](https://github.com/zkmkarlsruhe/cppflow/blob/master/include/cppflow/model.h)

I have added a branch containing changes:
-  to the ofxTF2::Model class in 55aa572
-  and an example in b750781

the model can be downloaded [here](https://cloud.zkm.de/index.php/s/gfWEjyEr9X4gyY6)

let me know what you think :) and thanks

[2021-09-15 23:55] bytosaur commented on #12
argh! i keep getting problems with those submodules...

[2021-09-16 09:11] natxopedreira commented on #12
I like it very much! great solution with the enum!!! and i think having support for frozen graph is super cool as you can use tf1 models. I think you should add a note on readme about that

Thanks!!!

[2021-09-16 12:03] danomatika commented on #12
Looks good @byteosaur. I hope the changes can be merged and we can announce support for TF1 models…

enohp ym morf tnes
-----------
Dan Wilcox
danomatika.com
robotcowboy.com

[2021-09-21 12:59] natxopedreira opened #13 "RobustVideoMatting"
Hello

I moved/ported/coded/play or whatever is called correctly this repo [https://github.com/PeterL1n/RobustVideoMatting](https://github.com/PeterL1n/RobustVideoMatting) to use it with you addon.

Is supercool, is interesting to add to examples? It has multiple inputs/outputs and use initial recurrent states.

<a href="https://ibb.co/PNHX1Fh"><img src="https://i.ibb.co/XbR0Fjs/Screenshot-2021-09

[2021-09-21 13:09] natxopedreira commented on #13
Its a savedModel, i get 24fps on a 1060 GPU processing a 1920x1080 video. I used the mobilenetV3 one, there is also a resnet50.

[2021-09-22 23:29] bakercp commented on #13
Tested it on ubuntu 20.04 w/ a GTX 1080. Runs smoothly w/ GPU libs. Runs, but slowly with CPU libs.

One minor suggestion @natxopedreira in the two `config.make` files you include your path is hard-coded. If you just remove / comment out those lines, it should work fine (see the other example config.make files).

[2021-09-22 23:33] bakercp commented on #13
@natxopedreira also, thanks! I've been looking for a good implementation to use on a project and this appears to be perfect!

[2021-09-23 07:45] natxopedreira commented on #13
@bakercp will remove those hard-coded paths, what fps did you get on a 1080?

Im happy that you found this useful!!!

[2021-09-23 07:48] bytosaur commented on #13
i totally agree with @bakercp!
just found some time to test it and it really runs super smooth..
i have some changes: insert live video and threaded model, but I am already on it!

example will be uploaded soon!
Thanks for your contribution @natxopedreira!!

[2021-09-23 07:57] natxopedreira commented on #13
Maybe next one i will do it so no corrections are need :) i will try it

Im  curious about the fps because on original repo claims a super high fps and wondering what card do you need to get that

I noticed it likes a good camera and good light.

[2021-09-23 08:30] bytosaur commented on #13
example is currently in the [develop branch](https://github.com/zkmkarlsruhe/ofxTensorFlow2/tree/develop/example_video_matting )

[2021-09-23 09:49] bytosaur commented on #13
and @natxopedreira: don't worry about that! I am so glad you r contributing! I only save the models to our cloud, add a few things here and there. The hard part is finding cool SavedModels!

I am not even sure if the threaded model is equally good for user experience. My problem right now is mixing the current video with the slightly delayed output of the threaded model results in a delayed maskin

[2021-09-23 09:55] danomatika commented on #13
Ja, it's the same issue with the Movement model when processing is too slow. That's just how it is and you can save the submitted frame and skip others to simulate the "slowness" without dropping the main thread frame rate. I thought of doing it the last time, but I can try with the masking model then reintegrate into movement wrapper.

The main idea is to allow for good main thread performance ev

[2021-09-23 11:00] natxopedreira commented on #13
@bytosaur i did not test it threaded as i run those in my gpu and performance is ok at 1080, i see you set 640x480 in demo.

Just thinking that in the threaded version you can use a struct or something, you sent pixels and get back tensor and processed pxs from "thread" to draw those so mask is not out of sync.....i don't know if im explaining correctly....

I know is not on topic but i have been

[2021-09-23 11:16] danomatika commented on #13
Yes, this is what I describe and will look into for @bytosaur's updates on the exmaple so far.

[2021-09-23 11:29] natxopedreira commented on #13
Ah ok, perfect!!!

I used that approach previously on a arm project and worked nice.

[2021-09-23 18:22] bakercp commented on #13
@natxopedreira on a standard 1080 (not a 1080 ti), I'm getting about 21 fps from your branch / example. It's using your `downsample_ratio` 0.25 etc.

[2021-09-23 18:28] bakercp commented on #13
The cleaned up example on the develop branch has the same 21 fps performance.

[2021-09-23 18:32] natxopedreira commented on #13
Seems very close to mine 1060ti, just wondering how the author of the model claims those high fps

` It achieves 4K 76FPS and HD 104FPS on an Nvidia GTX 1080 Ti GPU`

[2021-09-23 18:57] bakercp commented on #13
I think it comes down to inference speed, not full-video-pipeline speed. If I run they tests

[code]

I get about 77 it / s.

They note:

[code]

[2021-09-23 19:34] natxopedreira commented on #13
Ah, make sense. Thanks

[2021-10-16 12:34] liquidzym commented on #2
i'm just did complied the lastest dev branch, vs2017& win 10 ,with a bit of change

[2021-10-16 12:58] bytosaur commented on #2
hey @liquidzym,

that sounds wonderful! Let me know if you have a repo up which I can review and pull from :)

[2021-10-16 13:12] liquidzym commented on #2
sorry,not yet, but for the ref you can have a look at this
1. download the windows GPU version https://www.tensorflow.org/install/lang_c
2. i'm using the default master branch which is https://github.com/serizba/cppflow/
3. i've have to changed some code since OF not fully support c++ 17 yet, according to this pull requests https://github.com/serizba/cppflow/pull/108
4. download the lastest cundd

[2021-12-11 05:38] liquidzym opened #14 "off topic model issue"
i'm using 060_hair_segmentation model which is download from https://github.com/PINTO0309/PINTO_model_zoo/tree/main/060_hair_segmentation/10_tftrt
got those errors during the loading

SavedModel load for tags { serve }; Status: fail: Not found: Op type not registered 'CreateTRTResourceHandle' in binary running on SLDEV. Make sure the Op and Kernel are registered in the binary running in this proce

[2021-12-20 16:41] bytosaur commented on #13
hey there,
sorry I forgot about the example, but is now also in the main branch :)

[2021-12-20 17:43] #12 closed

[2021-12-20 17:51] bytosaur commented on #14
hey sorry i have no experience with tensorRT. Do you have it installed and to tried to load the model in python?

[2022-01-05 23:11] jeffcrouse commented on #2
One other thing that I didn't see here that ended up being the silver bullet for me to get the movenet example running...

Everything was compiling for me, but when I tried to run, I was getting an error saying it was unable to load the cuDNN DLL. After some googling, I found [this page](https://www.tensorflow.org/install/source_windows#tested_build_configurations), suggesting that there is a very

[2022-01-06 11:59] #13 closed

[2022-01-17 19:13] stephanschulz opened #15 ""Undefined symbols for architecture arm64: "_TF_NewSessionOptions", referenced from:" on macOS ?"
Hi.
Thanks for make this addon available to us.

I am on macOS 10.15.7, OF 0.11.2m Xcode 12.4

I followed the macOS install steps and get a bunch of compile errors related to `arm64`

Would you know why?
Should I rather try OF 0.11.0 ?
Should I be on a more recent macOS?

[code]

<img width="1415" alt="Screen Shot 2022-01-17 at 2 10 11 PM" src="https://user-images.githubusercontent.com/1054816/149

[2022-01-17 19:33] stephanschulz commented on #15
I changing `VER=2.6.0` to `VER=2.7.0` in this line:
https://github.com/zkmkarlsruhe/ofxTensorFlow2/blob/main/scripts/download_tensorflow.sh#L12

seems to solve this.

[2022-01-17 19:35] danomatika commented on #15
libtensorflow builds for mac are currently x86_64 only. Most likely, you need to add arm64 to the Xcode projects' excluded architectures and rebuild.

[2022-01-17 19:47] stephanschulz commented on #15
I am on a MacBook Pro 2.3 GHz 8-Core Intel Core i9.
Simply switching to `VER=2.7.0` did the trick.

For reference what my project build target shows for `Architecture`
<img width="1399" alt="Screen Shot 2022-01-17 at 2 44 36 PM" src="https://user-images.githubusercontent.com/1054816/149829191-9b0bccd1-7770-48c3-9f86-45dbbbce97b5.png">
<img width="1390" alt="Screen Shot 2022-01-17 at 2 44 20 PM" sr

[2022-01-17 19:54] stephanschulz commented on #15
Actually I ma now noticing that it builds fine in Debug mode but gives the first reported errors for Release mode.

[2022-01-17 19:56] stephanschulz commented on #15
and you are correct that adding `arm64`to the excluded architectures solved the issue also for Release mode.

[2022-01-17 19:56] #15 closed

[2022-01-17 20:07] danomatika commented on #15
We are considering providing builds for macOS arm64 and I know there are some unofficial builds on GitHub, but they are out of date. I'm still a bit surprised there aren't official universal builds yet, but I guess none on the TF team uses macOS.

[2022-01-25 13:13] danomatika commented on #3
The `update/macos-arm64` branch adds support for download non-official arm64 macOS builds from https://github.com/vodianyk/libtensorflow-cpu-darwin-arm64. Just run the script on an arm64 system to get arm64 libs, although not all TF versions are there, currently 2.5.0, 2.7.0, and 2.8.0.

I have a new macOS M1 Pro system to test this on soon.

[2022-01-27 10:12] danomatika commented on #3
Good news: the arm64 builds work fine on the macOS 12.2 M1 Pro system. I only needed to download the new libs, then change Build Settings->Excluded Architectures to `x86_64` in each project. Clean & rebuild, done.

[2022-01-27 11:20] danomatika commented on #3
The `update/macos-arm64` branch is now merged with the `develop`.

[2022-01-27 11:20] #3 closed

[2022-02-16 13:04] danomatika commented on #14
Should we close?

[2022-02-16 15:06] liquidzym commented on #14
sorry, i'll let you know once i got time to testing it, let's close it for now,thank you!

[2022-02-16 15:06] #14 closed

[2022-03-10 22:06] danzeeeman commented on #2
running into weird errors with this and windows 10

[2022-03-10 22:20] jeffcrouse commented on #2
Hey Dan -- I'm actively using my fork with Windows.  It's not polished up yet, but it works. https://github.com/jeffcrouse/ofxTensorFlow2

[2022-03-10 22:22] danomatika commented on #2
@jeffcrouse Care to make a PR, including any required info added to the readme?

[2022-03-10 23:02] danzeeeman commented on #2
@jeffcrouse I'm able to build this repo with openFrameworks main branch (thanks for the recommendations theo), I had to update cuDNN to a newer version but it still won't run completely.

[2022-03-12 20:37] danzeeeman commented on #2
finally got it all working with this repo CUDA 11.4 and cuDNN for 11.4 and openFrameworks main branch with cpp17 support

[2022-03-21 17:32] stephanschulz opened #17 "Do you have plans to implement 3d skeleton detection via BlazePose?"
I just came across this post, [3D Pose Detection with MediaPipe BlazePose GHUM and TensorFlow.js](https://blog.tensorflow.org/2021/08/3d-pose-detection-with-mediapipe-blazepose-ghum-tfjs.html).
Do you have plans to make an example on how to use this library. I think it's TF.js pose-detection API ?

As always thank you for your efforts to make tensor flow accessible to the OF community.

[2022-03-27 11:15] bytosaur commented on #17
hey @stephanschulz,

I dont think that we will expand this addon to work with MediaPipe as it comes with new dependencies. This addon only suffices running the functions given by the C library which is only a subset of the functions in the python library.

MediaPipe has a lot of tf.js models which might be converted.
Check out [their tfhub section](https://tfhub.dev/s?publisher=mediapipe), but be

[2022-03-27 15:46] danomatika commented on #17
Yeah, I could imagine something like an addon for MediaPipe models which uses ofxTensorFlow2 as a dependency, but it's not something we will probably get into on our end.

[2022-03-27 19:24] stephanschulz commented on #17
Thanks for the input and advice.
Implementing this is currently beyond my skills. But it's a great road map to follow.

[2022-03-31 08:45] danomatika commented on #17
Closing for now.

[2022-03-31 08:45] #17 closed

[2022-03-31 08:46] danomatika commented on #2
If things are working, we would be happy to take a PR on this. Let us know what to add to the readme, if you don't care to edit it yourselves.

[2022-04-02 00:31] jeffcrouse commented on #2
I’m definitely going to do that once I get through this production. Maybe earlier. Thanks for the great add on!

[2022-04-02 20:34] danomatika commented on #2
Understood. Thanks

[2022-06-02 20:34] Jonathhhan commented on #2
I got it working with VS and the original branch. All I had to change was `ofxTensorFlow2\libs\tensorflow\lib\msys` to `ofxTensorFlow2\libs\tensorflow\lib\vs`.
As an environment variable I had to add `C:\Program Files\NVIDIA GPU Computing Toolkit\CUDNN\v8.4.1.50\bin` instead of `C:\Program Files\NVIDIA GPU Computing Toolkit\CUDNN\v8.4.1.50`.
I use Tensorflow 2.9, CUDA 11.7 and CUDNN 8.4.1.50.

[2022-06-03 08:50] bytosaur commented on #2
hey @Jonathhhan,
cool, thanks for the advice! I ll look into it ;)

[2022-06-03 09:12] danomatika commented on #2
Please feel free to make a PR adding info which helps make this work, ie. a section for CUDA on Windows, etc.

enohp ym morf tnes
-----------
Dan Wilcox
danomatika.com
robotcowboy.com

[2022-06-11 01:20] Jonathhhan opened #18 "word2vec / universal sentence encoder example?"
I wonder if somebody use a word2vec model with ofxTensorflow2?
I found a model and tried to use it, but without success: https://tfhub.dev/google/Wiki-words-250-with-normalization/2
For now I use ofxWord2vec https://github.com/perevalovds/ofxWord2Vec for finding subtitle similarities (with a pretrained model) and I would like to do that with ofxTensorflow2 too...
https://github.com/Jonathhhan/ofEm

[2022-06-12 08:26] bytosaur commented on #18
Maybe I can help to fix it. At which stage are you stuck? Please add error messages if that's the case.

[2022-06-12 22:43] Jonathhhan commented on #18
@bytosaur thanks. Actually I am stuck at an very early stage, it crashes when I try to run the model:

[code]

I have to admit that my approach is very naive, and maybe you can point to a tutorial for understanding tensorflow/word2vec  basics better?
What I want to achieve: Get the vector of one or several words that are part of the trained model and compare it with another word or sentence for si

[2022-06-13 13:17] Dazzid opened #19 "Error compiling: No member named 'exchange' in namespace 'std'"
I'm trying to compile in MacOsX example_basic, but I'm having this error:
No member named 'exchange' in namespace 'std', in context.h line 78.

` inline context::context(context&& ctx) noexcept :
        tfe_context(std::exchange(ctx.tfe_context, nullptr))
    {
    }`
`
    inline context& context::operator=(context&& ctx) noexcept {
        tfe_context = std::exchange(ctx.tfe_context, tfe_contex

[2022-06-13 14:19] bytosaur commented on #18
hey @Jonathhhan,

could you please provide the error message as well? or is it just a seg fault? also which line throws the error?

I have never worked with word embeddings before, but i think your understanding is correct. The text gets transformed into an n-dimensional vector which can be used for comparison. Usually these embeddings are used as a first step in language models to have a latent r

[2022-06-13 14:25] danomatika commented on #19
We currently require C++14 for the addon.

Did you catch the [manual change](https://github.com/zkmkarlsruhe/ofxTensorFlow2/blob/main/README.md#macos) that is required to force this in OF on macOS?

[2022-06-13 15:53] danomatika commented on #19
No. The error is a compile-time error, not a linker error where architecture comes into play.

What version of OF are you using?

[2022-06-13 16:46] Jonathhhan commented on #2
@bytosaur I made a PR: https://github.com/zkmkarlsruhe/ofxTensorFlow2/pull/20

[2022-06-13 17:16] Dazzid commented on #19
I'm using of_v0.11.2, and that's right, the error appears when I change to c++14.

[2022-06-13 18:39] danomatika commented on #19
Do you do a full project clean before rebuilding after changing anything within the build system?

[2022-06-14 12:55] Dazzid commented on #19
yes, but the error persists. Do you have this?
MACOSX_DEPLOYMENT_TARGET = 10.9

[2022-06-14 12:59] Jonathhhan commented on #18
If I load the universal sentence encoder model https://tfhub.dev/google/universal-sentence-encoder/4 instead, I get a lot of information with `model.printOperations();`:
[code]

[2022-06-14 23:57] Jonathhhan commented on #18
Actually there is a warning if I run the universal sentence encoder model (happens with other text models too): `Failed to place the graph without changing the devices of some resources. Some of the operations (that had to be colocated with resource generating operations) are not supported on the resources' devices.`
[code]

[2022-06-16 00:16] Jonathhhan commented on #18
I made a universal sentence encoder example: https://github.com/Jonathhhan/ofxTensorFlow2/tree/universal-sentence-encoder/example_universal_sentence_encoder
It uses this model: https://tfhub.dev/google/universal-sentence-encoder/4

[2022-06-18 03:18] Jonathhhan opened #21 "arbitrary-image-stylization-v1-256"
I try to run the arbitrary-image-stylization-v1-256 model: https://tfhub.dev/google/magenta/arbitrary-image-stylization-v1-256/2
I can load the model without any errors, but it chrashes if I try to run the model (without an error message).
This is how I try to run it:
[code]
Any idea what I am doing wrong (or if the model runs at all with ofxTensorflow2)? Thank you.

[2022-06-18 07:36] bytosaur commented on #21
Hey @Jonathhhan,

I am currently on vacation and can only look into it at the mid of next week.
It looks alright how you handle the input. Maybe you are running out of Gpu memory? Try setting memory growth with ofxTF2::setGPUmem(90, true)

[2022-06-18 16:15] Jonathhhan commented on #21
Hey @bytosaur,
I think I found a solution and made an example: https://github.com/Jonathhhan/ofxTensorFlow2/tree/universal-sentence-encoder/example_arbitrary-image-stylization
The advantage is (in my opinion) that you just need to load an image and not a model for the style.

[2022-06-18 16:30] bytosaur commented on #21
Yup arbitrary style transfer is superior in that sense. How much fps do you get and what hardware do you use?
The same model has been used in Alexander Schubert's crawl3rs ;)

[2022-06-18 16:34] Jonathhhan commented on #21
It runs at 60FPS with a RTX3090, but it needs a lot of power (around 340w). Not sure how to reduce that.

[2022-06-19 20:59] paul-ferragut opened #22 "trained model different format?"
I managed to train a model for pix2pix, however the output files are looking different than the included edge2shoe example.
<img width="472" alt="2022-06-19 22_49_18-C__Users_plesk_Documents_coding_of_v0 11 2_vs2017_release_addons_ofxTensorFlow2_" src="https://user-images.githubusercontent.com/904819/174499985-5ac3fd6a-9508-403d-8501-bd44380b7ea5.png">
I don't have `assets `and `variables `folder

[2022-06-24 11:18] bytosaur commented on #22
hey @paul-ferragut,

how did you train it ? Did you use the original repo or the one I put into the examples folder?
my version has a main.py which calls [this source file](https://github.com/zkmkarlsruhe/ofxTensorFlow2/blob/main/example_pix2pix/python/src/training.py). Line 136 writes a model after every epoch to ''../bin/data/", which is the folder where the model should be for the openFramework

[2022-06-24 13:33] bytosaur commented on #22
okok please check the README in the python folder ;)

[2022-06-24 13:42] bytosaur commented on #21
hey @Jonathhhan,

thank you for your contribution! I am currently trying out your example on an RTX 3080.
I have two ideas how to improve the performance:
- use multiply by 1/255.0 instead of div by 255
[code]
- allocate the image beforehand instead of for every image
[code]

Please feel free to make a PR for this example!

BTW could you please name the example example_style_transfer_arbitrary? Th

[2022-06-24 13:44] paul-ferragut commented on #22
Can I change the script to train with my own local dataset instead of the existing downloadable datasets?
In the python folder I have a folder 'combined' with my formatted images in a subfolder train and val.
in `main.py` I tried to change
[code]
thank you!

[2022-06-24 14:00] bytosaur commented on #22
From the first look it seems to be as easy as that... I would simply try to use as much of the folder structure, image properties and code as the original script. Image properties might be the one you will struggle with most. If needed I would write a separate script that transforms your data

[2022-06-24 14:05] bytosaur commented on #21
oh and please keep in mind to use the standard OF_ROOT. I.e. leave the variable commented in config.make ;)

[2022-06-24 16:16] paul-ferragut commented on #22
thank you for the help @bytosaur I got everything working :)
Should have read the readme better .
Now I will have some fun testing datasets :) A last question, do you have a recommendation for number of epochs?

[2022-06-24 16:16] #22 closed

[2022-06-25 15:47] paul-ferragut opened #23 "GPU training issue"
GPU training using `main.py` with pix2pix is not working on my setup. The CPU training and the oF examples are working.

First I was missing .dll such as cudart64_101.dll or cusolver64_10.dll , i added the .dll from other folder or changed the name as suggested here https://stackoverflow.com/questions/65608713/tensorflow-gpu-could-not-load-dynamic-library-cusolver64-10-dll-dlerror-cuso
Ultimately

[2022-06-25 16:21] paul-ferragut commented on #23
I modified requirements.txt with newer packages and now I can train with the GPU
Each epoch went from 4min to 10 seconds

[code]

[2022-06-25 16:21] #23 closed

[2022-06-25 22:33] paul-ferragut opened #24 "Training with larger image size - pix2pix"
I managed to train images in format 256x256 and tried with format 512x512
in `config.py`
[code]
got errors the following errors

[code]

Is it possible to train larger sizes?
Is it possible training rectangular format images?

[2022-06-27 01:17] Jonathhhan commented on #21
hey @bytosaur,
thanks for the improvement ideas. mul instead of div does not seem to make a noticable difference and i need to allocate the output image after running the model, because sometimes the output shape differs slightly from the input (in my case the width difference is 2px).
Here is a branch with just the example. I changed the name and made some small changes:
https://github.com/Jonath

[2022-06-27 01:26] Jonathhhan commented on #18
I updated the example, its a basic version of my "Montageautomat": https://github.com/Jonathhhan/ofxTensorFlow2/tree/universal-sentence-encoder/example_universal_sentence_encoder_video_2

[2022-06-27 13:15] bytosaur commented on #24
hey,
you should look where this number 286 is coming from. There is an augmentation step in dataset.py:
[code]
This may not be what you want. I think this is where your error happens but you need to adjust the model, too. You would want your model to produce higher resolution which is defined by the number of _up conv blocks_. Same goes for your input (conv blocks). You should definitely add a lay

[2022-06-27 15:52] Jonathhhan commented on #21
Alright :) It seemed that the video had a strange resolution or was corrupted, with another video it works without allocating from the shape. I also replaced div with mul. And I read the video texture directly into float pixels now, so now further conversion is needed. I will have a look into the other things...

[2022-07-01 01:19] Jonathhhan opened #25 "example_video_and_image_colorization"
This was not easy for me (to find and understand a pretrained colorization model).
With this pretrained model I got it working (had to convert it to a saved model):
https://github.com/EnigmAI/Artistia/blob/main/ImageColorization/trained_models_v2/U-Net-epoch-90-loss-0.006251.hdf5
It tried it with this model before, but it seems they use two models together: https://github.com/pvitoria/ChromaGAN

I

[2022-07-20 10:54] bytosaur commented on #25
Hey @Jonathhhan,

great work. I have adjusted a few things and wanted to push the changes soon. However, i have noticed that videos didnt look that good so i digged into the python code for inference. I saw that the authors are dividing by 256 then converting from RGB 2 LAB  and finally taking the first channel as an input to the model. You are doing a division by 2.55 on the first channel. Could

[2022-07-20 10:55] bytosaur commented on #21
hey @Jonathhhan,

i have already pushed a branch with some smaller changes. I ll first adjust and merge your other examples before modifying the download scripts :)

[2022-07-20 22:51] Jonathhhan commented on #25
@bytosaur I made a version that converts to lab color space: https://github.com/Jonathhhan/ofxTensorFlow2/blob/example_video_and_image_colorization/example_video_and_image_colorization_2/src/ofApp.cpp
And I think it has a better result. Possibly there is still room for improvement.
The idea with dividing by 2.55 was to get the lab brightness value (0 - 100) without conversion.

[2022-07-21 08:33] danomatika commented on #19
I wouldn’t close this since our releases are based on OF releases and the current release 11.2 has this issue. We do not tests against nightly builds of the current OF git master as it’s too much of a moving target.

Better would be to find the actually change that fixes this and add a note in the readme for what people can do to modify OF 11.2… assuming it’s and easy change.

Please reopen for no

[2022-07-21 08:39] Dazzid commented on #19
I also opened the question in OF forums, and of_v0.11.2 won't compile in C++14 with an easy change

[2022-07-21 15:58] Jonathhhan opened #26 "Yolo v4 example"
I posted it already in the OF forum. Here is a Yolo v4 example: https://forum.openframeworks.cc/t/yolo-v4-example-with-ofxtensorflow2/40040

[2022-07-21 18:54] danomatika commented on #19
Can you add a link to your forum post?

[2022-07-21 22:18] Dazzid commented on #19
yes, here it is.
It seems that of_v0.11.0 should be fine
https://forum.openframeworks.cc/t/need-help-switching-to-c-14/40099

[2022-07-21 22:20] danomatika commented on #19
If the issue is the C++14 won't work *but* C++17 will, then use C++17. This addon requires a minimum of C++14 but 17 should be fine.

[2022-07-22 12:47] bytosaur commented on #26
ah ok didnt see that but I figured it out anyway :P
update coming soon.

[2022-07-27 23:32] Jonathhhan commented on #26
Haha, nice. Funny that we uploaded it the same day :)
And you are using the same non-maximum suppression library.

[2022-07-28 00:33] Jonathhhan commented on #21
hey @bytosaur,
thanks a lot for improving and polishing the examples (and the addon, of course). I am still a beginner and already learned something from it.
I also found some small things that I could have done better (but nothing with a big increase in performance).
I can do some pull requests from your branches.
This way for example, the ofFloatPixels object is not needed anymore:

[code]

[2022-07-28 08:17] bytosaur commented on #21
hey @Jonathhhan,
we highly appreciate your examples! I didnt do much on the code side of things except for packing the inference part into a separate function. Your examples have been pushed to [this branch](https://github.com/zkmkarlsruhe/ofxTensorFlow2/tree/feature/new_examples) and will be merged soon :)

[2022-08-03 20:14] Jonathhhan opened #27 "Chatbot example :)"
This was the most difficult for me to understand. But now it works quite well, I guess:
https://forum.openframeworks.cc/t/ofxtensorflow2-chatbot-almost-solved/40090/9

[2022-08-07 14:36] Jonathhhan commented on #26
Here I calculate the bounding boxes directly with cppflow:
https://github.com/Jonathhhan/ofxTensorFlow2/blob/example_yolo_v4/example_yolo_v4_v2

[2022-08-08 10:37] danomatika commented on #26
I wouldn't render the bounding boxes into the output image. What if you want to style them differently, use them as masks, etc. This is better done in OF as with the previous version of the example.

[2022-08-08 12:21] danomatika commented on #26
I am currently doing a refactor of the currently merged example. Once I'm father along, we can look into updating/integrating any new changes.

[2022-08-08 12:41] Jonathhhan commented on #26
@danomatika alright :) and i had a similar feeling with the bounding boxes and changed it accordingly (not render them into the image)...

[2022-08-08 12:41] danomatika commented on #26
@Jonathhhan Also, the example is missing the input image. Can you include it, either in the v2 example or as a separate PR to our `feature/examples` branch?

[2022-08-09 13:01] danomatika commented on #26
Thanks for the update. It's good to use the cppflow nms implementation since it's built in. I have also refactored the model handling into a separate class as I found it pretty complicated on it's own within the ofApp.

Please check the current version of the example in the `feature/new_examples` branch.

[2022-08-10 03:37] Jonathhhan opened #28 "music generation example"
i tried to use this model for music generation: https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/tutorials/audio/music_generation.ipynb#scrollTo=1mil8ZyJNe1w

its very rough yet, and not sure if everything works as expected.
maybe you can find something wrong...
the model is very small, so it is included in the example...
https://github.com/Jonathhhan/ofxTensorFlow2/tre

[2022-08-10 22:28] Jonathhhan commented on #28
I guess it works now...

[2022-08-10 22:34] danomatika commented on #28
Without trying it, I would say we could connect it to a synth with ofxMidi or generate audio directly with ofxPd.

[2022-08-10 22:40] Jonathhhan commented on #28
@danomatika yeah, I already connected it with midi out from ofxMidi. Often it sounds quite random, but I can also hear some musical structure. Have to play a bit the the training settings...

[2022-08-10 22:42] danomatika commented on #28
Looks like you need to track the duration for each pitch and send the noteoff individually. That might give you better rhythm and structure on the output.

[2022-08-11 00:53] Jonathhhan commented on #28
It is interesting that the output seems to get more structure after running for some time.
But maybe that is because I choose a more or less random sequence for the beginning...

[2022-08-11 23:11] Jonathhhan commented on #28
I added velocity to the model: https://github.com/Jonathhhan/ofxTensorFlow2/tree/music_generation_example/example_music_generation_2
And actually wonder, how to implement the music transformer: https://colab.research.google.com/notebooks/magenta/piano_transformer/piano_transformer.ipynb

[2022-09-13 18:00] bytosaur commented on #21
included in #29

[2022-09-13 18:00] #21 closed

[2022-09-13 18:01] bytosaur commented on #25
this example did not make to #29 since the results weren't that useful. Anyway, thanks a lot for the contribution.

[2022-09-13 18:02] bytosaur commented on #26
included in #29

[2022-09-13 18:02] #26 closed

[2022-09-13 18:05] bytosaur commented on #24
closed due to lack of response

[2022-09-13 18:05] #24 closed

[2022-09-13 18:36] Jonathhhan commented on #25
@bytosaur no problem, i already know it. just out of interest: is the colorization itself a boring usecase, or is the result not good enough (it was trained with hitchcock movies, if i am right, and especially coloring sky and water works really bad - coloring skin for example much better)? thanks for improving and including the other 2 examples (i would love to see more examples from other users,

[2022-09-14 15:09] bytosaur commented on #25
hey @Jonathhhan,
no i actually think the use case is OK, just the quality for video was poorly. But yeah, in my eyes OpenFrameworks is useful for realtime applications, where image colorization may not be very interesting.
However, Yolov4 is quite cool and we are already using it for fun projects :)

Still I want to keep the thread open at least for a while.

[2022-09-14 16:29] Jonathhhan opened #32 "Stable diffusion or other text-to-image networks?"
I wonder if it is possible to implement stable diffusion or any other text-to-image network (dall-e for example).
https://github.com/CompVis/stable-diffusion
I guess, the complicated part is the pre-/postprocessing and converting the model to a saved_model...
Any hints are very welcome...

[2022-09-14 18:25] danomatika commented on #25
Apropos the Yolo example, we will put a related project on Github soon: YoloOSC

enohp ym morf tnes
-----------
Dan Wilcox
danomatika.com
robotcowboy.com

[2022-09-14 19:23] bytosaur commented on #32
hey,
I dont know how difficult it is to port the code, but I dont think you would gain a lot from running it with openFrameworks other than comfort. I am running the repository on our server and infering the standard text-to-image pipeline ([diffusers](https://github.com/huggingface/diffusers/)) takes about 3 seconds.  Therefore, you could easily run it with python (e.g. REST API) and accept a lit

[2022-10-01 08:07] golanlevin opened #33 "Compilation issues for M1 / arm64"
Hi friends,
I'm having M1-architecture-related linking problems ("Undefined Symbol" etc.) similar to those described in Issues #15 and #3. I have tried the posted fixes without luck, and also (possibly) discovered a problem with one of the scripts. My configuration is:

* Hardware: MacBook Pro (14-inch, 2021) with Apple M1 Pro.
* Software: OSX 12.6, XCode 14.0.1 (14A400).
* Building within a fresh

[2022-10-01 21:17] danomatika commented on #33
For future reference, the issue was caused by the libs not being in a folder named for the system / build environment:

[code]

This is a subtle issue that the download script handles for you but easy to miss if doing things manually, especially considering the downloaded library structure is very similar.

I've updated the README to clarify this point (under [Dependencies](https://github.com/zkmk

[2022-10-01 21:17] #33 closed

[2022-10-02 03:32] golanlevin commented on #33
Thanks, @danomatika, for your incredibly helpful advice. It works like a charm. Having the Zoom-quality body segmentation of ofxTensorflow2 (in arbitrary scenes!), in an open-source arts toolkit like openframeworks is simply astounding. I would have killed for this 20 years ago. Kudos to you, @zkmkarlsruhe, and all the other contributors for making this possible.

<img width="1280" alt="Screen Sho

[2022-10-04 10:56] danomatika opened #34 "configure_xcode.sh script breaks Xcode projects"
As noted by @golanlevin, the configure_xcode.sh configure script appears to break Xcode projects. Whoops.

It comes down to how the build script is stored as an escaped string internally in the .pbxproj file... it does *not* match how the script contents are displayed in the Xcode editor, so bad assumption on my part.

[2022-10-04 12:36] #34 closed

[2022-10-04 12:37] danomatika commented on #34
Latest commit should have the fix for this. Short answer was the script was appending *lines* when it needed to be inserting an escaped string.

[2022-10-11 07:20] danomatika commented on #33
Thanks for the kinds words, Golan! Nice to get a feedback bump.

enohp ym morf tnes
-----------
Dan Wilcox
danomatika.com
robotcowboy.com

[2022-10-18 11:05] danomatika commented on #26
Just a note: I took the updated example as used it as a basis for a new YoloOSC app: https://github.com/zkmkarlsruhe/YoloOSC

Like FaceOSC, it streams detected objects over OSC (and the camera image via Spyhon on macOS). Thanks again, you are listed as one of the source authors.

[2022-10-19 14:56] Jonathhhan commented on #26
@danomatika Yes, I also guess the full name is the best. Was just choosing Jonathhhan because Jonathan was not available anymore. Thanks.

[2022-10-20 08:42] danomatika commented on #19
I'm closing this for now as I'm not seeing this issue OF 0.11.2 on macOS 12 with Xcode 14.

[2022-10-20 08:42] #19 closed

[2022-10-20 08:42] danomatika commented on #26
Done. Thanks

[2022-10-20 09:32] danomatika commented on #2
I've added the steps from @Jonathhhan and the tested build config link from @jeffcrouse to a new widows section in the readme: https://github.com/zkmkarlsruhe/ofxTensorFlow2#windows

Please review this and let me know if there us anything to add/change. I'd like to release a new version of the addon soon.

[2022-10-20 11:25] danomatika commented on #2
Ah well, I released 1.4.0 now anyway. :) We can always fix the readme in 1.4.1.